$white-color:       #FFF;
$red-color:         #E65C43;
$dark-grey:         #666;
$light-white:       #f5f6f6;
$darker-grey:       #30353d;  

$site-fonts:        'Roboto', sans-serif;
$background-social: url("../images/social-media.png");
$bg-image:          url("../images/bg.gif");
$background-logo:   url("../images/logo.png");

$commonWidth:       460px;

// Media queries
$large-screen:      960px; //Main 960
$medium-screen:     768px;
$small-screen:      460px;